body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e6661;
  color: #ddfff7;
  font-family: "Impact",Charcoal,serif;
  margin-top: 100px;
}

h1> span {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 3px;
  color: #ddfff7;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.otherStyle {
  justify-content: center;
  font-weight: lighter;
  font-size: 26px;
  letter-spacing: 3px;
  color: #ddfff7;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin-top: 0;
  margin-bottom: 50;
}

.addOption {
  font-weight: lighter;
  font-size: 10px;
  letter-spacing: 5px;
  margin-bottom: 0px;
  color: #ddfff7;
  font-family: "Impact",Charcoal,serif;
  background-color: #1e6661;
  border: 2px solid #ddfff7;
  border-radius: 10px;
  height: 30px;
  width: 150px;
}

.addOption:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.addOption:focus {
  outline: none;
  border: none;
  font-weight: lighter;
  font-size: 10px;
  letter-spacing: 5px;
  margin-bottom: 0px;
  color: #ddfff7;
  font-family: "Impact",Charcoal,serif;
  background-color: #1e6661;
  border: 2px solid #ddfff7;
  border-radius: 10px;
  height: 30px;
  width: 150px;
}

.submit {
  font-weight: lighter;
  font-size: 10px;
  letter-spacing: 5px;
  margin-bottom: 0px;
  color: #1e6661;
  font-family: "Impact",Charcoal,serif;
  background-color: #ddfff7;
  border: 2px solid #ddfff7;
  border-radius: 10px;
  height: 30px;
  width: 150px;
}

.submit:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.submit:focus {
  outline: none;
  border: none;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 5px;
  margin-bottom: 0px;
  color: #1e6661;
  font-family: "Impact",Charcoal,serif;
  background-color: #ddfff7;
  border: 2px solid #ddfff7;
  border-radius: 10px;
  height: 40px;
  width: 180px;
}

input {
  font-weight: lighter;
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  color: #ddfff7;
  font-family: "Impact",Charcoal,serif;
  background-color: #1e6661;
  border-bottom: 3px solid #ddfff7;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}

input:focus {
  outline: none;
  border: none;
  font-weight: lighter;
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  color: #ddfff7;
  font-family: "Impact",Charcoal,serif;
  background-color: #1e6661;
  border-bottom: 3px solid #ddfff7;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width:280px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px
}

.addOption {
  margin-top: 10px;
}

img {
  width:110px;
  margin-bottom: 30px;
  border: 1px solid #ddfff7;
}

.inputs {
  color: #ddfff7;
}

::-webkit-input-placeholder {
  color: #ddfff7;
}

.resultSection {
  height: 200px;
  display: flex:run-in;
  justify-content: center;
  align-items: center;
  font-size: 80px
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: red;
}
